# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive files
*.pem
*.key
mykey
mykey.pub

# Terraform variables
*.tfvars

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
